-- Alter workorder table to rename update_pembayaran to dp and add next_service_date and next_service_km
ALTER TABLE workorder RENAME COLUMN update_pembayaran TO dp;
ALTER TABLE workorder ADD COLUMN next_service_date DATE;
ALTER TABLE workorder ADD COLUMN next_service_km NUMERIC(10,2);
